{% extends "base.html" %}
{% import "partials/icons.html" as icons %}
{% import "partials/forms.html" as forms %}
{% import "partials/header.html" as header %}

{% block title %}{{ title }} &mdash; {{ app_name }}{% endblock %}

{% block body %}
  {% if item %}
    {% set url = "/items/" ~ item.id %}
    {{ header.header(item.name, [("details", url, false), ("edit", url ~ "/edit", true)]) }}
  {% else %}
    {{ header.header(title) }}
  {% endif %}

  <div class="container">
    {% include "partials/flash.html" %}
    <form class="row" method="post" action="{{ action }}" novalidate>
      <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
      <div class="col-md-6">
        {{ forms.input("name", "Name", value=form.name, errors=errors.name,
                       required=true, maxlength=200) }}
        {{ forms.textarea("description", "Description", value=form.description,
                          errors=errors.description) }}

        <button type="submit" class="btn btn-primary float-end">
          Save {{ icons.icon("caret-right") }}
        </button>
        <a href="{% if item %}/items/{{ item.id }}{% else %}/items{% endif %}">
          Cancel
        </a>
      </div>
    </form>
  </div>
{% endblock %}
