{% import "partials/icons.html" as icons %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ app_name }}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/app.css">
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block banner %}{% endblock %}
    {% block nav %}
      <nav class="container navbar navbar-expand-sm">
        {% include "partials/nav.html" %}
      </nav>
    {% endblock %}

    {% block body %}
      <div class="container">
        {% include "partials/flash.html" %}
        {% block content %}{% endblock %}
      </div>
    {% endblock %}

    <footer class="container">
      {% block footer %}
        <small class="text-muted">{{ app_name }} {{ version }}</small>
      {% endblock %}
    </footer>
  </body>
</html>
