<!doctype html>
<html>
  <link href="/assets/css/styles.css" rel="stylesheet" type="text/css">
  <head><title>{% block title %}Website Name{% endblock %}</title></head>
  <body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/content">Content</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/session">Session</a></li>
            <li><a href="/message">Set Message</a></li>
            <li><a href="/read-messages">Read Messages</a></li>
            <li><a href="/csrf">Csrf</a></li>
            <li><a href="/ip">Ip</a></li>
            <li><a href="/validation">Validation</a></li>
        </ul>
    </nav>
    <h1><h1>Hello, World web =]</h1>
    <p>Template form https://ijanc.org</p>
    {% block body %}{% endblock %}
  </body>
</html>
