{% if prev is not none or next is not none %}
  <div class="row">
    <div class="col-4">
      {% if prev is not none %}
        <a class="btn btn-default"
           href="/items?limit={{ page.limit }}&offset={{ prev }}">
          {{ icons.icon("caret-left") }} prev
        </a>
      {% endif %}
    </div>
    <div class="col-4 text-center">
      {{ page.offset + 1 }}-{{ page.offset + page.items|length }}
      of {{ page.total }}
    </div>
    <div class="col-4 text-end">
      {% if next is not none %}
        <a class="btn btn-default"
           href="/items?limit={{ page.limit }}&offset={{ next }}">
          next {{ icons.icon("caret-right") }}
        </a>
      {% endif %}
    </div>
  </div>
{% endif %}
